@using CAS.BOL.DataTypes

@model IEnumerable<CAS.BOL.Appointments>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/appointments/appointments-list.css" rel="stylesheet"/>
<div class="container">
    <br />
    @if (TempData["ErrorMessage"] != null)
    {
       <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <h1 class="text-center">Appointments List</h1>
    <p>
      <a asp-action="CreateorEdit"class="create-btn">Create New</a>
    </p>
   <table class="table table-bordered table-hover table-striped">
       <thead>
           <tr>
               <th>
                    @Html.DisplayNameFor(model => model.AppNo)
               </th>
               <th>
                    Patient Name
               </th>
               <th>
                    Doctor Name
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.DateTime)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.DrFee)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.Discount)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.BillAmt)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.FeeStatus)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.AppStatus)
               </th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patients.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doctors.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrFee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillAmt)
                    </td>
                    <td>
                       @if(item.FeeStatus == null)
                       {
                         <span class="text-warning">Unpaid</span>
                       }
                       @if (item.FeeStatus == FeeStatusTypes.Unpaid)
                       {
                         <span class="text-warning">Unpaid</span>
                       }
                       else if(item.FeeStatus == FeeStatusTypes.Paid)
                       {
                         <span class="text-warning">Paid</span>
                       }
                    </td>
                    <td>
                        @if (item.AppStatus == null)
                        {
                           <span class="text-warning">Pending</span>
                        }
                        @if (item.AppStatus == AppStatusTypes.Pending)
                        {
                           <span class="text-warning">Pending</span>
                        }
                        else if (item.AppStatus == AppStatusTypes.Confirmed)
                        {
                           <span class="text-success">Confirmed</span>
                        }
                        else if (item.AppStatus == AppStatusTypes.Cancelled)
                        {
                           <span class="text-danger">Cancelled</span>
                        }
                        
                       
                    </td>
                    <td>
                        <a asp-action="CreateorEdit" class="color" asp-route-id="@item.AppId">Edit</a> |
                        <a asp-action="Details" class="color" asp-route-id="@item.AppId">Details</a> 
                    </td>
                </tr>
            }
       </tbody>

   </table>

</div>


