
@model IEnumerable<CAS.BOL.Patients>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/patients/patients-list.css" rel="stylesheet"/>
<div class="container">
    <br />
    @if (TempData["ErrorMessage"] != null)
    {
       <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <h1 class="text-center">Patients List</h1>
    <p>
      <a asp-action="CreateorEdit"class="create-btn">Create New</a>
    </p>
   <table class="table table-bordered table-hover table-striped">
       <thead>
           <tr>
               <th>
                    @Html.DisplayNameFor(model => model.Name)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.Address)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.City)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
               </th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
          @foreach (var item in Model)
          {
              <tr>
                  <td>
                      @Html.DisplayFor(modelItem => item.Name)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.Address)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.City)
                  </td>
                  <td>
                      @Html.DisplayFor(modelItem => item.PhoneNo)
                  </td>
                  <td>
                     <a asp-action="CreateorEdit" class="color" asp-route-id="@item.PId">Edit</a> |
                     <a asp-action="Details" class="color" asp-route-id="@item.PId">Details</a> 
                  </td>
              </tr>
          }
       </tbody>

   </table>

</div>


