@model IEnumerable<CAS.BOL.Doctors>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/doctors/doctors-list.css" rel="stylesheet"/>
<div class="container">
    <br />
    <h1 class="text-center">Doctors List</h1>
    <p>
      <a asp-action="CreateorEdit"class="create-btn">Create New</a>
    </p>
   <table class="table table-bordered table-hover table-striped">
       <thead>
           <tr>
               <th>
                    @Html.DisplayNameFor(model => model.Name)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.Degree)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.Speciallity)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.Salary)
               </th>
               <th>
                    @Html.DisplayNameFor(model => model.PhoneNo)
               </th>
               <th>Actions</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var item in Model)
           {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.Name)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Degree)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Speciallity)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                   </td>
                   <td>
                        @Html.DisplayFor(modelItem => item.PhoneNo)
                   </td>
                   <td>
                       <a asp-action="CreateorEdit" class="color" asp-route-id="@item.DId">Edit</a> |
                       <a asp-action="Details" class="color" asp-route-id="@item.DId">Details</a> 
                   </td>
               </tr>
           }
       </tbody>

   </table>

</div>